.navBar {
  background-color: #0099e6;
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.link-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100px;
}

.link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
